{% extends "base.html" %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block title %}Agregar Libro{% endblock %}
  </head>
  <body>

    {% block Barra %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"> Agregar libro <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    {% endblock %}

    {% block Libro %}
      <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
          <form {%if form_id%} id='{{form_id}}' {%endif%} class="form"  method="POST" action="{% if action_url %}{{ action_url }}{% endif %}" >
            {% csrf_token %}

            <div class="control">
              {{form.as_p}}
              <input class="button is-primary is-block is-alt is-large" type="submit" name="" value="Agregar">
            </div>
          </form>
        </div>
      </div>
    {% endblock %}

  </body>
</html>
